Repository Network-Weather/SwiftFTR: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        
    patch:
      default:
        target: 80%
        threshold: 10%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  
ignore:
  - "Tests/**"
  - "**/*Tests.swift"
  - "**/Mock*.swift"
  - ".build/**"
  - "test-external-package/**"
  - "Sources/genseeds/**"
  - "Sources/icmpfuzz/**"
  - "Sources/icmpfuzzer/**"
  - "Sources/ptrtests/**"
  - "Sources/integrationtest/**"

flags:
  unittests:
    paths:
      - Sources/SwiftFTR/
    carryforward: true
    
  integration:
    paths:
      - Sources/
    carryforward: false

test: make NetworkTestGate Sendable-friendly
  Tests/SwiftFTRTests/NetworkTestGate.swift
  Tests/SwiftFTRTests/STUNTests.swift
Due: none

feat: harden ping parallelism for 0.8.0 (#8)
  AGENTS.md
  BENCHMARKS.md
  CHANGELOG.md
  GEMINI.md
  Package.swift
  README.md
  ROADMAP.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/ICMP.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/SwiftFTR/Utils.swift
  Sources/icmpfuzzer/ICMPFuzzer.swift
  Sources/integrationtest/main.swift
  Tests/SwiftFTRTests/ActorSchedulingTests.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/BufferbloatTests.swift
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/NetworkTestGate.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  Tests/SwiftFTRTests/ProbeTests.swift
  Tests/SwiftFTRTests/STUNTests.swift
  Tests/SwiftFTRTests/SwiftFTRDNSTests.swift
  Tests/TestSupport/ResourceBenchmark.swift
  docs/development/0.8.0-ping-regressions.md
  docs/development/0.8.0-release-readiness.md
  docs/development/Concurrency-Unblocking-Plan.md
  docs/guides/EXAMPLES.md
Due: unittests, integration

feat(asn): parallelize CymruDNSResolver for 5-10x faster ASN resolution
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  RELEASE_CHECKLIST.md
  ROADMAP.md
  SECURITY.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/RDNSCache.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
Due: unittests, integration

test(asn): add comprehensive cache correctness and concurrency tests
  Sources/SwiftFTR/ASN.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
Due: unittests, integration

feat(asn): add offline ASN resolution via Swift-IP2ASN
  CHANGELOG.md
  Package.swift
  ROADMAP.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/HybridASNResolver.swift
  Sources/SwiftFTR/LocalASNResolver.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/ActorSchedulingTests.swift
  Tests/SwiftFTRTests/LocalASNResolverTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
  Tests/TestSupport/ResourceBenchmark.swift
Due: unittests, integration

feat(vpn): add VPN-aware trace classification and interface discovery
  CHANGELOG.md
  README.md
  ROADMAP.md
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/NetworkInterfaces.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/SwiftFTR.docc/Tracing.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Utils.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/ComprehensiveTests.swift
  Tests/SwiftFTRTests/ConfigurationTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/NetworkInterfaceTests.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

fix(test): measure ping duration inside NetworkTestGate permit
  Tests/SwiftFTRTests/PingTests.swift
Due: none

docs: remove stale Tailscale reference from changelog
  CHANGELOG.md
Due: none

fix: resolve String(cString:) deprecation warnings in NetworkInterfaces
  Sources/SwiftFTR/NetworkInterfaces.swift
Due: unittests, integration

feat(tracer): add streaming traceroute API with automatic retry
  ROADMAP.md
  Sources/SwiftFTR/StreamingTrace.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/StreamingTraceTests.swift
Due: unittests, integration

feat(cli): add stream subcommand for real-time traceroute
  Sources/swift-ftr/main.swift
Due: integration

fix(streaming): filter hops beyond destination TTL
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

Add VPN hop classification enhancement proposal
  VPN_CLASSIFICATION_PROPOSAL.md
Due: none

docs: add streaming API documentation for v0.11.0
  CHANGELOG.md
  README.md
  Tests/SwiftFTRTests/ActorSchedulingTests.swift
  docs/guides/EXAMPLES.md
Due: none

feat(vpn): implement hostname-based VPN entry detection
  Sources/SwiftFTR/Segmentation.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  docs/development/VPN_CLASSIFICATION_PROPOSAL.md
Due: unittests, integration

fix(vpn): simplify VPN classification - all hops are VPN when tracing through VPN interface
  Sources/SwiftFTR/Segmentation.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
Due: unittests, integration

fix(vpn): classify private IPs as VPN, public IPs as transit
  Sources/SwiftFTR/Segmentation.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
Due: unittests, integration

test: add comprehensive classification test coverage
  Tests/SwiftFTRTests/SwiftFTRClassificationTests.swift
Due: none

docs: add 0.11.1 CHANGELOG entry for VPN classification
  CHANGELOG.md
Due: none

docs: update README, ROADMAP, and EXAMPLES for v0.11.1
  README.md
  ROADMAP.md
  docs/guides/EXAMPLES.md
Due: none

style: fix end-of-line comment lint warnings in tests
  Tests/SwiftFTRTests/SwiftFTRClassificationTests.swift
Due: none

feat(vpn): hostname-based VPN entry detection (#10)
  CHANGELOG.md
  README.md
  ROADMAP.md
  Sources/SwiftFTR/Segmentation.swift
  Tests/SwiftFTRTests/SwiftFTRClassificationTests.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  docs/development/VPN_CLASSIFICATION_PROPOSAL.md
  docs/guides/EXAMPLES.md
Due: unittests, integration

chore: remove VPN classification proposal (implemented in v0.11.1)
  docs/development/VPN_CLASSIFICATION_PROPOSAL.md
Due: none

feat(probe): modernize TCP/UDP probes with DispatchSource I/O
  CHANGELOG.md
  ROADMAP.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

docs(roadmap): add traceroute I/O modernization to priority queue
  ROADMAP.md
Due: none

style: fix swift-format warnings
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

feat(probe): modernize TCP/UDP probes with DispatchSource I/O (v0.11.2) (#11)
  CHANGELOG.md
  ROADMAP.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

feat(stun): resilient public IP discovery with DNS fallback (v0.11.3)
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/STUNTests.swift
Due: unittests, integration

feat(stun): resilient public IP discovery with DNS fallback (v0.11.3) (#12)
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/STUNTests.swift
Due: unittests, integration

fix: URLSession memory leak in httpProbe (v0.11.4)
  CHANGELOG.md
  Sources/SwiftFTR/HTTPProbe.swift
Due: unittests, integration

feat(dns): IPv6 DNS transport support (v0.11.5)
  CHANGELOG.md
  CLAUDE.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/SwiftFTRDNSTests.swift
Due: unittests, integration

docs: housekeeping — update version string, docs, and DocC articles
  README.md
  ROADMAP.md
  SECURITY.md
  Sources/SwiftFTR/SwiftFTR.docc/Bufferbloat.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/SwiftFTR.docc/StreamingTrace.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/Version.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

feat(tracer): replace poll(2) with DispatchSourceRead in traceroute
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

chore: bump version to 0.12.0
  ROADMAP.md
  SECURITY.md
  Sources/SwiftFTR/Version.swift
Due: unittests, integration

fix: eliminate data races in trace operations and add config validation
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/StreamingTrace.swift
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

docs: add v0.12.0 CHANGELOG entry and bump README version string
  CHANGELOG.md
  README.md
Due: none

docs: fix DNS examples to use correct return types
  docs/guides/EXAMPLES.md
Due: none

docs: fix TXT record example in EXAMPLES.md
  docs/guides/EXAMPLES.md
Due: none

fix(tracer): wrap blocking getPublicIPv4() in runDetachedBlockingIO inside classify()
  Sources/SwiftFTR/Segmentation.swift
Due: unittests, integration

docs: add v0.12.1 CHANGELOG entry and bump version string
  CHANGELOG.md
  Sources/SwiftFTR/Version.swift
Due: unittests, integration
