Repository Network-Weather/SwiftFTR: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        
    patch:
      default:
        target: 80%
        threshold: 10%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  
ignore:
  - "Tests/**"
  - "**/*Tests.swift"
  - "**/Mock*.swift"
  - ".build/**"
  - "test-external-package/**"
  - "Sources/genseeds/**"
  - "Sources/icmpfuzz/**"
  - "Sources/icmpfuzzer/**"
  - "Sources/ptrtests/**"
  - "Sources/integrationtest/**"

flags:
  unittests:
    paths:
      - Sources/SwiftFTR/
    carryforward: true
    
  integration:
    paths:
      - Sources/
    carryforward: false

chore(ci): isolate network tests and validate docs
  .github/WORKFLOWS.md
  .github/workflows/ci.yml
  .github/workflows/local-integration-tests.yml
  IntegrationPackage/Package.swift
  README.md
  SECURITY.md
  Sources/SwiftFTR/SwiftFTR.docc/Bufferbloat.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/Multipath.md
  Sources/SwiftFTR/SwiftFTR.docc/Ping.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/SwiftFTR.docc/Tracing.md
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/ComprehensiveTests.swift
  Tests/SwiftFTRTests/ConfigurationTests.swift
  Tests/SwiftFTRTests/StreamingTraceTests.swift
  Tests/SwiftFTRTests/StressTests.swift
Due: unittests, integration

fix(udp): bind probes to requested routes
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/UDPProbeBindingTests.swift
Due: unittests, integration

fix(bufferbloat): enforce load lifecycle and route validity
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/SwiftFTR.docc/Bufferbloat.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/BufferbloatLifecycleTests.swift
  Tests/SwiftFTRTests/BufferbloatTests.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
Due: unittests, integration

fix(dns): validate timeout and query inputs
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/DNS.swift
  Tests/SwiftFTRTests/DNSInputValidationTests.swift
Due: unittests, integration

fix(classification): respect non-global IP scopes
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/HybridASNResolver.swift
  Sources/SwiftFTR/LocalASNResolver.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/IPScopeClassificationTests.swift
Due: unittests, integration

fix(cli): disambiguate ping short options
  Package.swift
  README.md
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/SwiftFTRCommandTests.swift
Due: integration

fix(trace): preserve resolved address identity
  Sources/SwiftFTR/Hostname.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/SwiftFTR.docc/Multipath.md
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/DualStackRoutingTests.swift
Due: unittests, integration

fix(interfaces): use system physical types
  Sources/SwiftFTR/NetworkInterfaces.swift
  Tests/SwiftFTRTests/NetworkInterfaceTests.swift
Due: unittests, integration

fix(cli): make interfaces flags valid
  Package.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/SwiftFTRInterfacesCommandTests.swift
Due: integration

docs(interfaces): stop assuming BSD interface roles
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Tests/SwiftFTRTests/PingTests.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  docs/guides/EXAMPLES.md
Due: unittests, integration

fix(cache): coalesce concurrent ASN misses
  Sources/SwiftFTR/ASN.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
Due: unittests, integration

test(dns): avoid fixture executor starvation
  Tests/SwiftFTRTests/DNSWireHardeningTests.swift
Due: none

test(udp): bound loopback waits safely
  Tests/SwiftFTRTests/UDPProbeBindingTests.swift
Due: none

fix(cache): make timeout flight keys reflexive
  Sources/SwiftFTR/ASN.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
Due: unittests, integration

docs: remove interface suffix assumptions
  README.md
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/SwiftFTR.docc/Bufferbloat.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Utils.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/IPScopeClassificationTests.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
  Tests/SwiftFTRTests/LocalASNResolverTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/STUNTests.swift
  Tests/SwiftFTRTests/SwiftFTRCommandTests.swift
  Tests/SwiftFTRTests/SwiftFTRDNSTests.swift
  Tests/SwiftFTRTests/UDPProbeBindingTests.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  Tests/TestSupport/ip2asnv6probe/ip2asnv6probe.swift
  docs/IPV6.md
  docs/guides/EXAMPLES.md
Due: unittests, integration

spike: exercise exact-interface HTTPS transport
  Sources/SwiftFTR/InterfaceBoundHTTPSProbeSpike.swift
  Tests/SwiftFTRTests/InterfaceBoundHTTPSProbeSpikeTests.swift
Due: unittests, integration

test: support CI Swift Testing version
  Tests/SwiftFTRTests/InterfaceBoundHTTPSProbeSpikeTests.swift
Due: none

docs: clarify exact route binding scope
  README.md
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/SwiftFTR.docc/Bufferbloat.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
  Tests/SwiftFTRTests/LocalASNResolverTests.swift
  Tests/SwiftFTRTests/UDPProbeBindingTests.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
  Tests/TestSupport/ip2asnv6probe/ip2asnv6probe.swift
  docs/guides/EXAMPLES.md
Due: unittests, integration

test: preserve semantic interface fixtures
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/IPScopeClassificationTests.swift
  Tests/SwiftFTRTests/SwiftFTRCommandTests.swift
Due: none

docs: make route limitations explicit
  README.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
Due: unittests, integration

docs: distinguish standalone binding inputs
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
Due: unittests, integration

test: make invalid source binding deterministic
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
Due: none

docs: distinguish public IP discovery paths
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/SwiftFTR.docc/Tracing.md
  Sources/SwiftFTR/Traceroute.swift
  docs/IPV6.md
  docs/development/CODE_STYLE.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

docs: correct offline test and STUN guidance
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/WORKFLOWS.md
  .github/pull_request_template.md
  CLAUDE.md
  Sources/SwiftFTR/STUN.swift
  docs/IPV6.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

test: cover default HTTPS spike user agent
  Tests/SwiftFTRTests/InterfaceBoundHTTPSProbeSpikeTests.swift
Due: none

test: allow exact-interface HTTPS rehearsals
  Tests/SwiftFTRTests/InterfaceBoundHTTPSProbeSpikeTests.swift
Due: none

docs: add HTTP probe production roadmap
  docs/development/HTTPProbe-Production-Roadmap.md
Due: none

chore(release): prepare 0.14.0
  .githooks/pre-push
  .github/WORKFLOWS.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/docc-generate.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  Package.swift
  README.md
  SECURITY.md
  Sources/SwiftFTR/Hostname.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/StreamingTrace.swift
  Sources/SwiftFTR/SwiftFTR.docc/MigratingTo014.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/SwiftFTR/Version.swift
  Sources/swift-ftr/main.swift
  TestLibraryUsage/Sources/TestLibraryUsage/main.swift
  Tests/SwiftFTRTests/APICompatibilityTests.swift
  Tests/SwiftFTRTests/SwiftFTRCommandTests.swift
  docs/development/0.14.0-release-readiness.md
  docs/development/CODE_STYLE.md
  docs/development/HTTPProbe-Production-Roadmap.md
Due: unittests, integration

chore(ci): satisfy Swift 6.1 formatter
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
  Tests/TestSupport/ip2asnv6probe/ip2asnv6probe.swift
Due: none

docs(release): date 0.14.0
  CHANGELOG.md
  docs/development/0.14.0-release-readiness.md
Due: none

fix(cli): fail unreachable TCP probes
  CHANGELOG.md
  Sources/SwiftFTR/SwiftFTR.docc/MigratingTo014.md
  Sources/swift-ftr/main.swift
  docs/development/0.14.0-release-readiness.md
Due: unittests, integration

docs: polish 0.14 public guidance
  .github/workflows/docs.yml
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
Due: unittests, integration

docs: correct public examples
  README.md
Due: none

docs: close out 0.14 release
  docs/development/0.14.0-release-readiness.md
Due: none

docs: plan two production traceroute failures
  .gitignore
  BUGS.md
  README.md
  ROADMAP.md
  docs/BUG2-INVESTIGATION.md
Due: none

docs: measure the resolver stall behind the enrichment timeout
  ROADMAP.md
  docs/BUG2-INVESTIGATION.md
Due: none

docs: qualify what the 30s resolver stall does and does not mean
  ROADMAP.md
  docs/BUG2-INVESTIGATION.md
Due: none

fix(utils): honor cancellation and deadlines in the blocking-IO bridge
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/BlockingIOBridgeTests.swift
  Tests/SwiftFTRTests/BlockingIOCancellationTests.swift
  docs/ENRICHMENT-BOUNDING.md
Due: unittests, integration

fix(enrichment): bound public-IP discovery and reverse DNS
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/RDNSSuppressionTests.swift
  docs/ENRICHMENT-BOUNDING.md
Due: unittests, integration

feat(config): make enrichment budgets caller-settable, raise rDNS default
  Sources/SwiftFTR/ConfigurationValidation.swift
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/RDNSSuppressionTests.swift
Due: unittests, integration
