Repository Network-Weather/SwiftFTR: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        
    patch:
      default:
        target: 80%
        threshold: 10%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  
ignore:
  - "Tests/**"
  - "**/*Tests.swift"
  - "**/Mock*.swift"
  - ".build/**"
  - "test-external-package/**"
  - "Sources/genseeds/**"
  - "Sources/icmpfuzz/**"
  - "Sources/icmpfuzzer/**"
  - "Sources/ptrtests/**"
  - "Sources/integrationtest/**"

flags:
  unittests:
    paths:
      - Sources/SwiftFTR/
    carryforward: true
    
  integration:
    paths:
      - Sources/
    carryforward: false

docs: add v0.2.0 release notes
  RELEASE_NOTES_v0.2.0.md
Due: none

fix: update roadmap timeline to reflect current date (September 2025)
  ROADMAP.md
Due: none

feat: prioritize VPN/Zero Trust/SASE support in roadmap
  ROADMAP.md
Due: none

chore: update to Swift 6.0 toolchain and bump CLI version
  Package.swift
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/swift-ftr/main.swift
Due: unittests, integration

fix: resolve compiler warnings in StressTests
  Tests/SwiftFTRTests/StressTests.swift
Due: none

docs: finalize v0.2.0 release notes with PR link and changelog
  RELEASE_NOTES_v0.2.0.md
Due: none

feat: enforce Swift 6.0 minimum throughout project
  .github/workflows/pr-tests.yml
  .swift-version
  CHANGELOG.md
  CONTRIBUTING.md
  Package.swift
  README.md
  RELEASE_NOTES_v0.2.0.md
  ROADMAP.md
  TESTING.md
Due: none

fix: update to Swift 6.1 minimum and remove env var references
  .github/workflows/pr-tests.yml
  .swift-version
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES_v0.2.0.md
  ROADMAP.md
  Sources/integrationtest/main.swift
  Sources/ptrtests/main.swift
  TESTING.md
Due: none

docs: specify Xcode 16.4 minimum requirement
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES_v0.2.0.md
Due: none

ci: use macOS 15 runners and remove unnecessary Xcode selection
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: none

style: apply swift-format to all source files
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/integrationtest/main.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/ComprehensiveTests.swift
  Tests/SwiftFTRTests/ConfigurationTests.swift
  Tests/SwiftFTRTests/StressTests.swift
  Tests/SwiftFTRTests/SwiftFTRClassificationTests.swift
Due: unittests, integration

fix: use setup-swift@next for all workflow steps
  .github/workflows/pr-tests.yml
Due: none

fix: handle sendFailed errors in special IP address tests
  Tests/SwiftFTRTests/StressTests.swift
Due: none

feat: add IntegrationPackage for external dependency testing
  .github/workflows/pr-tests.yml
  IntegrationPackage/Package.swift
  IntegrationPackage/README.md
  IntegrationPackage/Sources/IntegrationPackage/main.swift
Due: none

test: add rigorous validation to IntegrationPackage
  IntegrationPackage/Sources/IntegrationPackage/main.swift
Due: none

fix: resolve benchmark module conflicts in CI
  .github/workflows/pr-tests.yml
Due: none

fix: use correct swift package clean command
  .github/workflows/pr-tests.yml
Due: none

fix: remove incorrect contributor attribution
  RELEASE_NOTES_v0.2.0.md
Due: none

docs: add v0.3.0 implementation plan for caching, rDNS, and cancellation
  CACHING_PLAN.md
  ROADMAP.md
Due: none

feat: implement v0.3.0 core features - caching, rDNS, and cancellation
  Package.swift
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/TraceHandle.swift
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

feat: implement actor-based architecture with caching and cancellation
  CACHING_PLAN.md
  CLAUDE.md
  IMPROVEMENT_PLAN.md
  MIGRATION.md
  Package.swift
  README.md
  RELEASE_NOTES_v0.2.0.md
  ROADMAP.md
  Sources/SwiftFTR/TraceHandle.swift
  Sources/SwiftFTR/Traceroute.swift
  TestLibraryUsage/Package.swift
Due: unittests, integration

style: apply swift-format to all source files
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/TraceHandle.swift
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

chore: integrate Periphery for unused code detection
  .periphery.yml
  PERIPHERY_ANALYSIS.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

docs: prepare for v0.3.0 release
  AI_REFERENCE.md
  CHANGELOG.md
  RELEASE_NOTES_v0.3.0.md
Due: none

feat: v0.3.0 - Add caching, rDNS support, and trace cancellation (#2)
  .periphery.yml
  AI_REFERENCE.md
  CHANGELOG.md
  CLAUDE.md
  IMPROVEMENT_PLAN.md
  MIGRATION.md
  PERIPHERY_ANALYSIS.md
  README.md
  RELEASE_NOTES_v0.2.0.md
  RELEASE_NOTES_v0.3.0.md
  ROADMAP.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/TraceHandle.swift
  Sources/SwiftFTR/Traceroute.swift
  TestLibraryUsage/Package.swift
Due: unittests, integration

docs: reorganize documentation into structured directories
  CHANGELOG.md
  README.md
  docs/README.md
  docs/development/CLAUDE.md
  docs/development/PERIPHERY_ANALYSIS.md
  docs/development/ROADMAP.md
  docs/development/TESTING.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
  docs/releases/RELEASE_NOTES_v0.3.0.md
Due: none

chore: enhance project for first-class open source status
  .github/CODEOWNERS
  .spi.yml
  Package.swift
  README.md
  SECURITY.md
Due: none

feat: add network interface selection and improve hop classification
  CLAUDE.md
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
  docs/development/ROADMAP.md
Due: unittests, integration

feat: add source IP binding support for precise network control
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

chore: bump version to 0.4.0
  CHANGELOG.md
  Sources/swift-ftr/main.swift
Due: integration

docs: update ROADMAP for v0.4.0 release
  docs/development/ROADMAP.md
Due: none

docs: update documentation for v0.4.0 features
  README.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: none

test: increase timing tolerance for CI variance
  Tests/SwiftFTRTests/StressTests.swift
Due: none

feat: add source IP binding support for precise network control (#4)
  CHANGELOG.md
  CLAUDE.md
  README.md
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/StressTests.swift
  docs/development/ROADMAP.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

feat: automate DocC regeneration on releases
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

fix: restore accidentally missing ROADMAP.md
  docs/development/ROADMAP.md
Due: none

refactor: eliminate workflow duplication with reusable DocC generation
  .github/workflows/docc-generate.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none
