Repository Network-Weather/SwiftFTR: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        
    patch:
      default:
        target: 80%
        threshold: 10%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  
ignore:
  - "Tests/**"
  - "**/*Tests.swift"
  - "**/Mock*.swift"
  - ".build/**"
  - "test-external-package/**"
  - "Sources/genseeds/**"
  - "Sources/icmpfuzz/**"
  - "Sources/icmpfuzzer/**"
  - "Sources/ptrtests/**"
  - "Sources/integrationtest/**"

flags:
  unittests:
    paths:
      - Sources/SwiftFTR/
    carryforward: true
    
  integration:
    paths:
      - Sources/
    carryforward: false

docs: add v0.12.2 CHANGELOG entry and bump version string
  CHANGELOG.md
  Package.swift
  Sources/SwiftFTR/Version.swift
Due: unittests, integration

Increase STUN timeout to 2s, document DNS whoami limitations
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/Traceroute.swift
Due: unittests, integration

Add CHANGELOG entry for 0.12.3
  CHANGELOG.md
Due: none

fix(ping): anchor operation deadline to actual send time; fix TTL parsing
  CHANGELOG.md
  Package.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Version.swift
  Tests/SwiftFTRTests/PingTests.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
  Tests/SwiftFTRTests/SwiftFTRPingParserTests.swift
Due: unittests, integration

fix(ping): address PR review feedback (P1/P2a/P2b)
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/PingTests.swift
Due: unittests, integration

docs(roadmap): note swift-ip2asn 0.4.0 in IPv6 bucket; strip past/version sections
  ROADMAP.md
Due: none

feat(ping): ICMPv6 support — IPv6 ping via SOCK_DGRAM IPPROTO_ICMPV6
  CHANGELOG.md
  Package.swift
  README.md
  ROADMAP.md
  Sources/SwiftFTR/ICMP.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/IPv6Reachability.swift
  Tests/SwiftFTRTests/PingTests.swift
  Tests/SwiftFTRTests/StressTests.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
  Tests/SwiftFTRTests/SwiftFTRPingParserTests.swift
  Tests/TestSupport/icmpv6probe/icmpv6probe.swift
  docs/IPV6.md
Due: unittests, integration

fix(ping): address PR review; relax CI-flaky preload perf budget
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/LocalASNResolverTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop ping from IPv6 remaining work (Stage 1 landed in #16)
  ROADMAP.md
Due: none

feat(trace): IPv6 traceroute over ICMPv6 + v6 ASN labels (Stage 2)
  CHANGELOG.md
  Package.swift
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Hostname.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/LocalASNResolverTests.swift
  Tests/SwiftFTRTests/StressTests.swift
  Tests/TestSupport/ip2asnv6probe/ip2asnv6probe.swift
  Tests/TestSupport/traceroute6probe/traceroute6probe.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop traceroute + ASN from IPv6 remaining work (Stage 2 landed in #17)
  ROADMAP.md
Due: none

feat(probes): IPv6 TCP & UDP probes (Stage 3 of v0.13.0)
  CHANGELOG.md
  Sources/SwiftFTR/Hostname.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/ProbeTests.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop TCP/UDP probes from IPv6 remaining work (Stage 3 landed in #18)
  ROADMAP.md
Due: none

docs(changelog): strip stale 'still IPv4-only' notes (Stages 2-3 landed)
  CHANGELOG.md
Due: none

feat(stun): IPv6 STUN + dual-stack public-IP discovery (Stage 4 of v0.13.0)
  CHANGELOG.md
  Sources/SwiftFTR/STUN.swift
  Tests/SwiftFTRTests/STUNTests.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop STUN/public-IP from IPv6 remaining work; pivot to hardening (Stage 4 landed in #19)
  ROADMAP.md
Due: none

refactor(hostname): consolidate resolver + bind helpers (Stage 5 of v0.13.0)
  CHANGELOG.md
  Sources/SwiftFTR/Hostname.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/STUN.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop resolver consolidation from IPv6 hardening (Stage 5 landed in #20)
  ROADMAP.md
Due: none

fix(classifier): populate VPNContext.vpnLocalIPs from getifaddrs
  CHANGELOG.md
  Sources/SwiftFTR/Segmentation.swift
  Tests/SwiftFTRTests/VPNClassificationTests.swift
Due: unittests, integration

test(fuzz): ICMPv6 parser fuzzer (icmpv6fuzz target)
  CHANGELOG.md
  Package.swift
  Sources/icmpv6fuzz/main.swift
Due: integration

feat(resolver): NAT64 transparency for v4 literals on v6-only networks
  CHANGELOG.md
  Sources/SwiftFTR/Hostname.swift
  docs/IPV6.md
Due: unittests, integration

docs(roadmap): drop NAT64, fuzzing, VPNContext from IPv6 hardening (PRs #21, #22, #23 landed)
  ROADMAP.md
Due: none

chore(release): prepare 0.13.0
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/Version.swift
  Sources/swift-ftr/main.swift
  docs/IPV6.md
Due: unittests, integration

docs(claude): capture workflow learnings from the 0.13.0 push
  CLAUDE.md
Due: none

fix(stun): validate binding responses
  Sources/SwiftFTR/STUN.swift
  Tests/SwiftFTRTests/STUNTests.swift
Due: unittests, integration

fix(dns): harden UDP response parsing
  Sources/SwiftFTR/DNS.swift
  Tests/SwiftFTRTests/DNSWireHardeningTests.swift
Due: unittests, integration

fix(trace): cancel active streaming work
  Sources/SwiftFTR/TraceHandle.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/StreamingLifecycleTests.swift
Due: unittests, integration

fix(ping): serialize lifecycle cleanup
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/PingLifecycleTests.swift
Due: unittests, integration

fix(config): reject invalid network inputs safely
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/ConfigurationValidation.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/StreamingTrace.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/ConfigurationValidationTests.swift
Due: unittests, integration

fix(cache): prevent stale network repopulation
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/CacheGenerationTests.swift
Due: unittests, integration

fix(ping): validate numeric configuration
  Sources/SwiftFTR/ConfigurationValidation.swift
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/PingConfigurationValidationTests.swift
Due: unittests, integration

fix(rdns): reject numeric hostname fallbacks
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/ReverseDNSSemanticsTests.swift
Due: unittests, integration

fix(http): stop probes after response headers
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/SwiftFTR.docc/Probing.md
  Tests/SwiftFTRTests/HTTPHeaderProbeTests.swift
Due: unittests, integration

fix(multipath): handle empty topology divergence
  Sources/SwiftFTR/Multipath.swift
  Tests/SwiftFTRTests/MultipathTests.swift
Due: unittests, integration

fix(concurrency): bound blocking I/O execution
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Utils.swift
  Tests/SwiftFTRTests/BlockingIOBridgeTests.swift
Due: unittests, integration

fix(icmp): validate quoted probe protocol
  Sources/SwiftFTR/ICMP.swift
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/SwiftFTRICMPTests.swift
  Tests/SwiftFTRTests/SwiftFTRPingParserTests.swift
Due: unittests, integration

fix(dns): bound compressed RDATA names
  Sources/SwiftFTR/DNS.swift
  Tests/SwiftFTRTests/DNSRDataBoundaryTests.swift
Due: unittests, integration

fix(multipath): structure flow cancellation
  Sources/SwiftFTR/Multipath.swift
  Tests/SwiftFTRTests/MultipathCancellationTests.swift
Due: unittests, integration

fix(tcp): propagate pending probe cancellation
  Sources/SwiftFTR/TCPProbe.swift
  Tests/SwiftFTRTests/TCPProbeCancellationTests.swift
Due: unittests, integration

fix(cli): honor no-rdns in JSON traces
  Package.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/CLIReverseDNSTests.swift
Due: integration
