Repository Network-Weather/SwiftFTR: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

build: require Swift 6.2 and refresh docs
  .github/workflows/ci.yml
  .github/workflows/docc-generate.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  Package.swift
  README.md
  Sources/SwiftFTR/RDNSCache.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Tests/SwiftFTRTests/StressTests.swift
  docs/development/CLAUDE.md
  docs/development/ROADMAP.md
  docs/development/TESTING.md
  docs/reference/AI_REFERENCE.md
  docs/releases/RELEASE_NOTES_v0.3.0.md
Due: unittests, integration

feat(cli): bump probe timeout and add version flag
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/Version.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/ComprehensiveTests.swift
  Tests/SwiftFTRTests/ConfigurationTests.swift
  docs/development/CLAUDE.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

feat(cli): accept timeout in milliseconds
  CHANGELOG.md
  README.md
  Sources/swift-ftr/main.swift
  docs/reference/AI_REFERENCE.md
Due: integration

feat: add dedicated ping API with accurate RTT measurement
  SWIFTFTR_MULTIPATH_PLAN.md
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

test: add comprehensive unit tests for ping functionality
  Tests/SwiftFTRTests/PingTests.swift
Due: none

feat: SwiftFTR v0.5.0 - Ping and Multipath Discovery
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  RELEASE_CHECKLIST.md
  SWIFTFTR_MULTIPATH_PLAN.md
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/SwiftFTR.docc/Multipath.md
  Sources/SwiftFTR/SwiftFTR.docc/Ping.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  docs/development/ROADMAP.md
  docs/guides/EXAMPLES.md
Due: unittests, integration

docs: add release notes and code style guide
  CONTRIBUTING.md
  RELEASE_NOTES_v0.5.0.md
  docs/development/CODE_STYLE.md
Due: none

fix: add -f short option for multipath --flows
  CHANGELOG.md
  README.md
  RELEASE_CHECKLIST.md
  RELEASE_NOTES_v0.5.0.md
  Sources/swift-ftr/main.swift
Due: integration

style: fix line length for flows option
  Sources/swift-ftr/main.swift
Due: integration

ci: remove redundant workflows causing test failures
  .github/workflows/local-integration-tests.yml
  .github/workflows/pr-tests.yml
Due: none

feat: SwiftFTR 0.5.0 - Ping API and Multipath Discovery (#6)
  .github/workflows/ci.yml
  .github/workflows/local-integration-tests.yml
  .github/workflows/pr-tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE_CHECKLIST.md
  RELEASE_NOTES_v0.5.0.md
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/SwiftFTR.docc/Multipath.md
  Sources/SwiftFTR/SwiftFTR.docc/Ping.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  docs/development/CODE_STYLE.md
  docs/development/ROADMAP.md
  docs/guides/EXAMPLES.md
Due: unittests, integration

fix: remove redundant docs deployment from release workflow
  .github/workflows/release.yml
Due: none

feat: add bufferbloat detection with RPM scoring
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/swift-ftr/main.swift
Due: unittests, integration

docs: update for v0.5.1 bufferbloat release
  CHANGELOG.md
  Sources/SwiftFTR/Bufferbloat.swift
  Tests/SwiftFTRTests/StressTests.swift
  docs/guides/EXAMPLES.md
Due: unittests, integration

perf: enable parallel ping() execution for 6.4x speedup
  CHANGELOG.md
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
Due: unittests, integration

docs: code quality and documentation improvements for v0.5.3
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/SwiftFTR.docc/Ping.md
  Sources/SwiftFTR/Traceroute.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
Due: unittests, integration

test: add comprehensive Bufferbloat and STUN test coverage
  CHANGELOG.md
  Tests/SwiftFTRTests/BufferbloatTests.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
  Tests/SwiftFTRTests/STUNTests.swift
Due: none

chore: ignore ephemeral planning docs
  .gitignore
Due: none

feat: add hop-monitor demo CLI tool
  Package.swift
  Sources/hop-monitor/README.md
  Sources/hop-monitor/main.swift
Due: integration

perf: fix ping timeout handling for immediate early exit
  Sources/SwiftFTR/Ping.swift
Due: unittests, integration

docs: add ping timeout fix to v0.5.3 CHANGELOG
  CHANGELOG.md
Due: none

test: add concurrency bottleneck reproduction tests (Phase 0)
  Sources/SwiftFTR/Ping.swift
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  docs/development/Concurrency-Bottleneck-Baseline.md
  docs/development/SwiftFTR-Concurrency-Audit.md
  docs/development/SwiftFTR-Concurrency-Plan.md
Due: unittests, integration

perf: implement parallel multipath flow discovery (Phase 2)
  Sources/SwiftFTR/Multipath.swift
  docs/development/Concurrency-Bottleneck-Baseline.md
Due: unittests, integration

test: add improved bottleneck tests (Phase 3)
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  docs/development/Concurrency-Bottleneck-Baseline.md
Due: none

refactor: modernize ASN cache with Swift 6 actors (Phase 5)
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/ptrtests/main.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  Tests/SwiftFTRTests/SwiftFTRCacheTests.swift
  Tests/SwiftFTRTests/SwiftFTRClassificationTests.swift
  docs/development/Concurrency-Bottleneck-Baseline.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: unittests, integration

docs: update ROADMAP to v0.5.3 and mark concurrency plan as completed
  docs/development/ROADMAP.md
  docs/development/SwiftFTR-Concurrency-Plan.md
Due: none

docs: add unreleased section to CHANGELOG for concurrency modernization
  CHANGELOG.md
Due: none

feat: add TCP, UDP, DNS, HTTP probes for multi-protocol monitoring
  CHANGELOG.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/ProbeTests.swift
  docs/development/ROADMAP.md
Due: unittests, integration

fix: update TCP probe tests and add QUIC roadmap
  Tests/SwiftFTRTests/ProbeTests.swift
  docs/development/ROADMAP.md
Due: none

feat: SwiftFTR 0.6.0 - Multi-Protocol Probing Support (#7)
  CHANGELOG.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/ProbeTests.swift
  docs/development/ROADMAP.md
Due: unittests, integration

Add TCP handshake RTT measurement to HTTP probe
  RELEASE_NOTES_v0.5.0.md
  Sources/SwiftFTR/HTTPProbe.swift
Due: unittests, integration

feat: SwiftFTR 0.7.0 - Per-Operation Interface Binding
  .gitignore
  CHANGELOG.md
  Package.swift
  README.md
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/Segmentation.swift
  Sources/SwiftFTR/SwiftFTR.docc/InterfaceBinding.md
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/UDPProbe.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  docs/CNAME
  docs/README.md
  docs/development/CLAUDE.md
  docs/development/CODE_STYLE.md
  docs/development/Concurrency-Bottleneck-Baseline.md
  docs/development/PERIPHERY_ANALYSIS.md
  docs/development/ROADMAP.md
  docs/development/SwiftFTR-Concurrency-Audit.md
  docs/development/SwiftFTR-Concurrency-Plan.md
  docs/development/TESTING.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
  docs/releases/RELEASE_NOTES_v0.3.0.md
Due: unittests, integration

chore: pre-release polish for 0.7.0
  CHANGELOG.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/ICMP.swift
  Sources/icmpfuzzer/ICMPFuzzer.swift
  Sources/ptrtests/main.swift
  Sources/swift-ftr/main.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
Due: unittests, integration

test: fix DNS unreachable server test to use 0.0.0.0
  Tests/SwiftFTRTests/ProbeTests.swift
Due: none

refactor: consolidate GitHub Actions workflows
  .github/WORKFLOWS.md
  .github/workflows/docs.yml
  .github/workflows/release-manual.yml
  .github/workflows/release.yml
Due: none

docs: restore development documentation from git history
  .gitignore
  ROADMAP.md
  docs/development/CODE_STYLE.md
  docs/development/TESTING.md
  docs/guides/EXAMPLES.md
  docs/reference/AI_REFERENCE.md
Due: none

feat: SwiftFTR 0.8.0 - Complete DNS API with 11 record types
  CHANGELOG.md
  README.md
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/SwiftFTR.docc/SwiftFTR.md
  Sources/SwiftFTR/Traceroute.swift
  Sources/integrationtest/main.swift
  Tests/SwiftFTRTests/SwiftFTRDNSTests.swift
  docs/guides/EXAMPLES.md
Due: unittests, integration

test: fix test suite issues and disable known bottleneck tests
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/BufferbloatTests.swift
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
  Tests/SwiftFTRTests/PingTests.swift
Due: none

fix: resolve divergencePoint bug and improve test robustness
  Sources/SwiftFTR/Multipath.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
Due: unittests, integration

feat: harden ping parallelism and gate network tests
  AGENTS.md
  BENCHMARKS.md
  CHANGELOG.md
  GEMINI.md
  Package.swift
  README.md
  ROADMAP.md
  Sources/SwiftFTR/ASN.swift
  Sources/SwiftFTR/Bufferbloat.swift
  Sources/SwiftFTR/DNS.swift
  Sources/SwiftFTR/HTTPProbe.swift
  Sources/SwiftFTR/ICMP.swift
  Sources/SwiftFTR/Multipath.swift
  Sources/SwiftFTR/Ping.swift
  Sources/SwiftFTR/TCPProbe.swift
  Sources/SwiftFTR/Traceroute.swift
  Sources/SwiftFTR/UDPProbe.swift
  Sources/SwiftFTR/Utils.swift
  Sources/icmpfuzzer/ICMPFuzzer.swift
  Sources/integrationtest/main.swift
  Tests/SwiftFTRTests/ActorSchedulingTests.swift
  Tests/SwiftFTRTests/BufferbloatComparisonTests.swift
  Tests/SwiftFTRTests/BufferbloatTests.swift
  Tests/SwiftFTRTests/ConcurrencyBottleneckTests.swift
  Tests/SwiftFTRTests/InterfaceBindingTests.swift
  Tests/SwiftFTRTests/MultipathTests.swift
  Tests/SwiftFTRTests/NetworkTestGate.swift
  Tests/SwiftFTRTests/PingParallelismTests.swift
  Tests/SwiftFTRTests/PingTests.swift
  Tests/SwiftFTRTests/ProbeTests.swift
  Tests/SwiftFTRTests/SwiftFTRDNSTests.swift
  Tests/TestSupport/ResourceBenchmark.swift
  docs/development/0.8.0-ping-regressions.md
  docs/development/0.8.0-release-readiness.md
  docs/development/Concurrency-Unblocking-Plan.md
Due: unittests, integration

Path conditions:
  unittests: any of: Sources/SwiftFTR/, but not: Tests/**, **/*Tests.swift, **/Mock*.swift, .build/**, test-external-package/**, Sources/genseeds/**, Sources/icmpfuzz/**, Sources/icmpfuzzer/**, Sources/ptrtests/**, Sources/integrationtest/**
  integration: any of: Sources/, but not: Tests/**, **/*Tests.swift, **/Mock*.swift, .build/**, test-external-package/**, Sources/genseeds/**, Sources/icmpfuzz/**, Sources/icmpfuzzer/**, Sources/ptrtests/**, Sources/integrationtest/**
